.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eye {
    color: white;
    margin-left: -25px;
    cursor: pointer;
}

.field {
    border: 1px inset black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0px 5px;
}