* {
    margin: 0 auto;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}

.article {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 10px;
    padding: 3px 5px;
}

.articlePicture {
    height: 3.5rem;
    width: 3.5rem;
}

.article > h3 {
    flex: 6 ;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 559px) {
    .article > p {
        display: none;
    }
}