* {
    margin: 0 auto;
    padding: 0;
}

.content {
    padding: 20vh 5vw;
    display: flex;
    gap: 40px;
}

.interests {
    flex: 1;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 10px;
    overflow-y: scroll;
    max-height: 75vh;
}

.digest {
    flex: 4;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 10px;
    overflow-y: scroll;
    max-height: 75vh;
}